* {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;

}

body{
	background-image: url(bg.png);
	background-size: cover;
}


.textField {
    text-align: center;
}

img {
    display: block;
    margin-top: 30;
    margin-bottom: 10;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
	margin: 2em 0;
	padding: 1em 2em;
	border: solid 2px #CE897B;
	border-radius: 6px;
	min-width: 200px

}