* {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

body{
	background-image: url(bg.png);
	background-size: cover;
}


.textField {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

.textFieldFavorites {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

.textFieldAnother {
    font-size: 12.5px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
	margin: 2em 0;
	padding: 1em 2em;
	border: solid 2px #CE897B;
	border-radius: 6px;
	min-width: 200px
}

@media screen and (min-width: 430px) {

	fieldset {
		width: 45%;
		min-width: 430px;
		margin: auto;
	}

}